/* This part sets the background of the page and makes it cover the entire window in different sizes */
body {
    background: url("../images/Github-aktivitás-blokklánc.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 
    This part is for the container of the page with low opacity.
    Its display is flex and its children will be in row and break to next line when overflow.
*/
.container {
    max-width: 750px;
    min-width: 600px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    border-radius: 15px;
    background-color: rgba(130, 131, 137, 0.807);
    transform: translate(-50%, -50%);

    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Left side of the container with 60% of its width */
.left_side {
    width: 60%;
    height: 70%;
}

/* Right side of the container with 25% of its width */
.right_side {
    width: 25%;
    height: 70%;
}

/* Sets the background color, height & border-radius for the right and left sides */
.fieldset {
    background-color: rgb(210, 205, 205);
    border-radius: 15px;
    height: 100%;
}

.form {
    height: 100%;
}

/* 
    Determines the details of left side of container.
    Its display is flex and its children will be in row and break to next line when overflow.
*/
.content_left {
    width: 99%;
    height: 99%;
    margin: 15px 5px;
    display: flex;
    
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 
    Determines the details of right side of container.
    Its display is flex and its children will be in column.
*/
.content_right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Determines the details of image of user. */
.user_image {
    width: 40%;
    border-radius: 5px;
}

/* It's about the container of username, blog & location. */
.info {
    width: 48%;
    text-align: left;
}

/* Determines the details of input box. */
input[type=text] {
    width: 95%;
    font-family: 'Times New Roman', Times, serif;
}

/* 
    Determines the details of search button. 
    Its background color is in form of gradient and goes from gray to white.
*/
input[type=submit] {
    width: 65%;
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(93, 91, 91) , rgb(205, 205, 201));
    border-color: rgba(192, 196, 200, 0.618);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

/* 
    This is for part which determines the error in the page.
    Its display is none by default and appears when an error occurs.
*/
.error {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(238, 51, 51);
    text-align: center;
    font-weight: bold;
    display: none;
}